/*
* BaseCamp, (c) MindCapers 2019
* 
* Published under GPL3.0. MindCapers reserves the right to publish this original software
* under any other license for consideration. 
*
* julie@mindcapers.com
*
*/

.div_basic
{
  padding: 15px;
}

a.hover
{
  background-color: hotpink;
}

#basecamp_header
{
  color: white;
  background-color: purple;
  text-align: left;
}

#basecamp_topnavbar
{
  color: white;
  background-color: gray;
}

/* Ensure there is only one of each major element with divs */
#basecamp_footer
{
  color: white;
  background-color: gray;
  text-align: center;
  width: 100%;
}

#basecamp.leftnavbar
{
  color: gray;
  padding: 10;
}

/* #basecamp.rightnavbar
{
}

#basecamp.bottomnavbar
{
}
*/

